<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container-fluid">
  <div class="row">
    <div [hidden]="!showLoader" >
      <div class="container justify-content-center align-items-center loader-overlay">
        <div class="d-flex">
          <mat-spinner diameter="200" [strokeWidth]="20"></mat-spinner>
        </div>
      </div>
    </div>


    <app-graph
      [nodes]="nodes"
      [links]="links"
      [showTooltip]="true"
      class="col-8 h-100 p-2"
    >
    </app-graph>
    <div class="col-4 p-2">
      <app-query (queryUpdateEvent)="onQueryUpdate($event)"></app-query>
      <app-filter (filterUpdateEvent)="onFilterUpdate($event)"></app-filter>
      <app-table
        [nodes]="nodes"
        tableType="docs"
      ></app-table>
    </div>
  </div>
</div>
